h1{
  color: #26547C;
  font-size: 55px;
  font-family: 'Raleway', sans-serif;
  text-shadow: 3px 3px 0 #CCC,
}
h2{
  color: #EF476F;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px 0;
}
#filler{
  margin: 10px 220px;
  padding: 15px;
}
p{
  line-height: 1.5;
  color: #26547C; 
  font-size: 18px;
  text-align: justify;
  font-family: 'Helvetica Neue', sans-serif;
}
li{
  line-height: 1.5;
  color: #26547C; 
  font-size: 18px;
  text-align: justify;
  font-family: 'Helvetica Neue', sans-serif; 
  list-style-type: circle;
  text-indent: -.7em;
  list-style: none;
}
li:before{
  content: "• ";
  color: #EF476F;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
#underline{
text-decoration: underline;
}
#container{
  min-height: 300px;
  background-color: #eee;
  box-shadow: 0 0 6px #DDD inset; 
}
#footer{
  min-height: 300px;
  background-color: #26547C;
  box-shadow: 0 0 2px #204768; 
  padding: 10px 0px 20px 0px;
}
#london{
  border-radius: 50%;
  height: 190px;
  width: 190px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}
#sammi{
  border-radius: 5px;
  max-height: 300px;
  width: auto;
  display: block;
  margin-right: 200px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#rome{
  border-radius: 5px;
  max-height: 300px;
  width: auto;
  display: block;
  margin-left: 200px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#mountain{
  border-radius: 5px;
  height: 250px;
  width: auto;
  margin-right: 160px;
  display: block;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#hawks{
  border-radius: 5px;
  height: 250px !important;
  width: auto;
  display: block;
  margin-left: 160px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#austin{
  border-radius: 5px;
  max-height: 250px;
  width: auto;
  display: block;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
/* Navgiation bar*/
.radial-menu {
  top: 15px;
  left: 15px;
  position: fixed;
  display: block;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.menu-item1:hover{
  color: #EF476F;
}
.menu-item1 {
  width: 70%;
  height: 70%;
  background-color: #26547C;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 16px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
  padding-top: 12px;

}
.menu-item2 {
  width: 70%;
  height: 70%;
  background-color: #26547C;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 16px;
  top: 25%;
  left: 25%;
  z-index: 19;
  padding-top: 18px;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.menu-item3 {
  width: 70%;
  height: 70%;
  background-color: #26547C;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 16px;
  top: 25%;
  left: 25%;
  padding-top: 18px;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}
.menu-item4 {
  width: 70%;
  height: 70%;
  background-color: #26547C;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 16px;
  top: 25%;
  left: 25%;
  padding-top: 20px;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}
.mask {
  top: 15px;
  left: 15px;
  width: 80px;
  height: 80px;
  background: #EF476F;
  border-radius: 50%;
  position: absolute;
  z-index: 21;
  color: white;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  position: fixed;
}
.mask:hover {
  background: #EF476F;
  color: white;
}
.end{
  display: block;
}
#contact{
  margin-top: -50px;
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  text-decoration: underline;
}
#row1{
  margin-top: 100px;
}
a:link{
  color: white;
}
#linkedin:hover, #git:hover, a:hover{
  color: #EF476F;
}
#toTop{
  color: #EF476F;
  position: absolute;
  z-index: 500;
  bottom: 0;
  right: 0;
  position: fixed;
  margin-right: -5px;
  margin-bottom: 15px;
}
#toTop:hover{
  color: #ec719c;
}
#six{
  height: 250px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor:pointer;
}
#six:hover{
  opacity: .4;
}
#twitter{
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 0;
  margin-right: 20px;
  max-width: 375px;
}
#middle{
  padding-bottom: 0;
}
#map{
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  max-width: 375px;
  padding-bottom: 0;
  margin-left: 20px;
}
#contactForm{
  width: 350px;
}
/* To top button bob animation */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  color: #EF476F;
  position: absolute;
  z-index: 500;
  bottom: 0;
  right: 0;
  position: fixed;
  margin-right: 20px;
  margin-bottom: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@media only screen and (max-device-width: 1024px) {
    #sammi {
        visibility: hidden !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    #mountain {
        visibility: hidden !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    #hawks {
        margin-left: 190px !important;
    }
}
/* Hide round menu bar */
@media only screen and (max-device-width: 1024px) {
    .radial-menu {
        visibility: hidden !important;
    }
}
@media only screen and (max-device-width: 2600px) {
    #responsiveMenu {
        visibility: hidden !important;
    }
}
/* Show top menu bar */
@media only screen and (max-device-width: 1024px) {
    #responsiveMenu {
        visibility: visible !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    #linkedin {
        visibility: hidden !important;
    }
    #git {
        visibility: hidden !important;
    }
    .resume {
        visibility: hidden !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    #intro {
      margin-top: 75px;    
    }
}
@media only screen and (max-device-width: 1024px) {
    #filler {
        margin: auto !important;
    }
    #intro{
      margin-top: 90px !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    p {
        font-size: 26px !important;
    }
    h2{
      font-size: 26px !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    #linkedin, #phone, #resume {
        font-size: 28px !important;
    }
}
@media only screen and (max-device-width: 1024px) {
    #email, #phone, #resume {
        font-size: 28px !important;
    }
}
#responsiveMenu{
  background-color: #EF476F;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#item1, #item2, #item3, #item4, #item5, #item6 {
  color: white !important;
}
a{
  color: #EF476F;
}
a:hover{
  color: #26547C;
}
.modal-backdrop.in{
  opacity: .3;
}
.modal-backdrop {
  z-index: 0 !inherit;
  background-color: #000;
}
.ui.modal{
  position: fixed;
  top: 80px;
  bottom: 150px;
  height: 420px;
}
.ui.modal>.actions{
  background-color: white;
}
.deny.button:hover{
  background-color: #26547C !important;
}
.deny.button{
  background-color: #EF476F !important;
  color: white !important;
}
#emailButton{
    background-color: #EF476F;
    color: white;
    width: 200px;
}
#emailButton:hover{
    background-color: white;
    color: black;
}
#contactMe{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
  font-style: italic;
}
#git{
  color: #26547C;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
  position: fixed;
  display: block;
}
#linkedin{
  color: #26547C;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 60px;
  position: fixed;
  display: block;
}
.resume{
  background-color: #26547C;
  padding: 5px 2px;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 110px;
  position: fixed;
  display: block;
  border-radius: 15%;
  height: 42px;
  width: 36px;
}
#resumeicon{
  background-color: #26547C;
  color: white !important;
}
#resumeicon:hover{
  background-color: #EF476F;

}
.resume:hover{
  background-color: #EF476F;